.header {
  position: relative;
  z-index: 1;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__item {
  padding: 10px;
}
