.login {
  background-image: url("./background.png");
  background-color: #2d2d2d;
  background-size: cover;
  height: calc(100% - 96.6px);
}

.login__form {
  width: 500px;
  padding: 50px 50px 65px;
  background: #fff;
  position: absolute;
  top: 300px;
  right: 100px;
}

.title {
  margin-bottom: 20px;
}

.form__container {
  display: flex;
  flex-wrap: wrap;
}

.field {
  margin-bottom: 10px;
}

.field--full {
  width: 100%;
}

.field--half {
  width: 50%;
}

.field__label {
  display: block;
}

.field__input {
  width: 100%;
  box-sizing: border-box;
}

.actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
