.profile {
  background-image: url("./login-background.jpg");
  background-size: cover;
  height: calc(100vh - 65px);
}

.profile__container {
  display: flex;
  justify-content: center;
}

.profile__window {
  padding: 44px 60px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.profile-title {
  text-align: center;
  margin-bottom: 40px;
}

.profile-form__block {
  position: relative;
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 16px;
  margin-bottom: 20px;
}
