.registration {
  background-image: url("./login-background.jpg");
  background-size: cover;
  height: 100vh;
}

.registration__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registration__logo {
  width: 300px;
}

.registration__form {
  width: 500px;
  padding: 44px 60px;
  margin: 48px 0;
  background: #fff;
  box-sizing: border-box;
}

.title {
  margin-bottom: 20px;
}

.title__header {
  margin-bottom: 40px;
}

.title__subtext {
  margin-bottom: 10px;
}

.form__container {
  display: flex;
  flex-wrap: wrap;
}

.form__field {
  padding-bottom: 30px;
}

.form__action {
  text-align: right;
}
